<div class="container">
  <div class="items-container">
    <div *ngFor="let e of elements" class="iterable-item" draggable="true"
      (dragstart)="onDrag($event, e)"
    >
      <div [ngSwitch]="e.celda">
        <button *ngSwitchCase="'Button'"> {{e.title}} </button>
        <h1 *ngSwitchCase="'TitleOnly'"> {{e.title}} </h1>
        <div *ngSwitchCase="'Header'" class="image-cell">
          <img [src]="e.imageback" height="40px" width="auto" />
          <img [src]="e.image" height="40px" width="auto" />
        </div>
        <div *ngSwitchCase="'TitleSubtitle'"> 
          <h1> {{e.title}} </h1>
          <h3> {{e.subtitle}} </h3>
        </div>
        <div *ngSwitchCase="'TextFieldConfirmation'">
          <p style="margin: 0;"> {{e.title}}: </p>
          <input [placeholder]="e.titleconfirmation"/>
        </div>
        <div *ngSwitchCase="'TextField'">
          <p style="margin: 0;"> {{e.title}}: </p>
          <input [placeholder]="e.titleconfirmation ? e.titleconfirmation : ''"/>
        </div>
        <div *ngSwitchCase="'LinkCustomInfo'">
          <p class="link"> {{e.title}} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="iphone-container">
    <div class="iphone" (drop)="dropDiv($event)" (dragover)="allowDrop($event)" (dragleave)="isOver = false" >
      <div class="border-container">
        <div class="border-top"></div>
      </div>
      <div *ngFor="let e of selectedElements" class="dropzone">
        <div [ngSwitch]="e.celda">
          <button *ngSwitchCase="'Button'"> {{e.title}} </button>
          <h1 *ngSwitchCase="'TitleOnly'"> {{e.title}} </h1>
          <div *ngSwitchCase="'Header'" class="image-cell">
            <img [src]="e.imageback" height="40px" width="auto" />
            <img [src]="e.image" height="40px" width="auto" />
          </div>
          <div *ngSwitchCase="'TitleSubtitle'"> 
            <h1> {{e.title}} </h1>
            <h3> {{e.subtitle}} </h3>
          </div>
          <div *ngSwitchCase="'TextFieldConfirmation'">
            <p style="margin: 0;"> {{e.title}}: </p>
            <input [placeholder]="e.titleconfirmation"/>
          </div>
          <div *ngSwitchCase="'TextField'">
            <p style="margin: 0;"> {{e.title}}: </p>
            <input [placeholder]="e.titleconfirmation ? e.titleconfirmation : ''"/>
          </div>
          <div *ngSwitchCase="'LinkCustomInfo'">
            <p class="link"> {{e.title}} </p>
          </div>
        </div>
      </div>
      <div *ngIf="isOver" class="drop-listener"></div>
    </div>
  </div>
</div>